.grid {
  position: relative;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;
  justify-content: center;
  }
  
/* 只針對grid下一層的div */
.grid-item {
  color: black;
  background-color: rgba(164, 205, 150, 0.846);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.grid-title{
  
  background-color: white;
  text-align: left;
}

.item1 {
  background-color: #ddb9d6;
  
}

.item2{
  background-color: #62b1b7;
  grid-column-start: 2;
  grid-column-end: 5;
}

.item3 {
  background-color: #C6F1E7;
}

.item4 {
  background-color: #9bbc9d;
}